# Needed for push notifications, you can search online for a VAPID key generator
PUBLIC_VAPID_KEY="your_public_vapid_key"
VAPID_PRIVATE_KEY="your_private_vapid_key"
VAPID_EMAIL="email@example.com"

# You don't need to set these for local development
POSTGRES_DB=crypthora_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here

PROFILE_PIC_KEY="your_pic_key" #32-byte key to encrypt profile and group pics server side, you can run `node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"` to generate one
UPLOAD_SIZE_LIMIT=104857600

# These are only used if you run with docker and not with npm run dev
HOST_UPLOAD_DIR=X:/data/app_uploads
POSTGRES_HOST_DATA_DIR=X:/data/postgres
NTFY_HOST_DIR=X:/data/ntfy

CHAT_URL=http://localhost:3000
NTFY_URL=http://localhost:8080

# These are only needed in dev (docker sets them in deployment)
DATABASE_URL="postgresql://dev:devpassword@localhost:5432/sveltekit_dev"
